/* body{
    background-color: antiquewhite;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
}

.gallery-image {
  width: 360px;
  height: 200px;
} */

.gallery-item {
  margin-left: 156px;
  margin-top: 24px;
}
.gallery-image {
  width: 360px;
  height: 200px;
}

.gallery-image:hover {
  transform: scale(1.02);
}

.gallery {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.basicLightbox--visible .basicLightbox__placeholder {
  background-color: rgba(46, 47, 66, 0.8);
}


